@import "tailwindcss";
@plugin "daisyui";



.cinzel-font {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.subheadline{
  color: #D99904;
}
.dark-6{
  color: #E8E8E8;
}
.service{
  background-image: '../src/assets/home/chef-service.jpg';
}
.dark-3{
  color: #737373;
}
.dark-2{
  color: #444444;
}
.dark1-bg{
  background-color: #151515;
}
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.cart-color{
  color: #BB8506;
}
.dark7-bg{
  background-color: #F3F3F3;
}
.rating-color{
  background-color: #CD9003;
}
.authbtn{
  background-color: #D1A054B3;
}
.authtext{
  color: #D1A054;
}